[submodule "Plugins/URoboViz"]
	path = Plugins/URoboViz
	url = git@github.com:HoangGiang93/URoboViz.git
[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = git@github.com:robcog-iai/UROSBridge.git
[submodule "Plugins/UUtils"]
	path = Plugins/UUtils
	url = git@github.com:robcog-iai/UUtils.git
